.list > * {
  text-decoration: none;
}

a {
  color: black;
  text-align: left;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
  background-color: lightgrey;
}

@media (min-width: 800px) {
  a {
    font-size: 40px;
  }
}
