h3 {
  font-size: 20px;
}

img {
  width: 100%;
  border-radius: 20px;
}

h3,
p {
  text-align: center;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  h3,
  p {
    text-align: left;
  }

  img {
    width: 100%;
  }
}
